body {
    background-color: black;
}

h1 {
    text-align: center;
    background-color: gray;
    color: white;
    margin: 20px;
    border: 1px solid black;
}
#game {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 97px;
}
#defaultCanvas0 {
    border: 3px solid black
}