@charset "UTF-8";

article, aside, footer, header, main, nav, section {
  display: block;
}

html, body, h1, h2, h3, ul, li, a, p, 
article, aside, footer, header, main, nav, section {
  padding: 0;
  margin: 0;
}

.banner {
  background-color: white;
  color: white;
  box-shadow: 0 35px 7px 1px rgba(0,0,0,0.2);
}

body {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
}

nav {
  background-color: white;
  padding: 5px;
}

.nav_list {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.nav_list li:nth-child(1) {
  color: black;
  margin-left: 25em;
}

.nav_list li:nth-of-type(2) {
    margin-left: 2em;
    border: 1px solid black;
    border-radius: 50px;
    padding: 0 5px 2px 5px;
}

.nav_list li:nth-child(2):hover {
  background-color: rgb(0, 0, 0);
}
  
.nav_list li:nth-child(3) {
  margin-left: 2em;
  color: black;
}

li a {
  color: black;
    text-decoration: none;
}

li a:hover {
  text-decoration: underline;
  color: lightgray;
}

li {
  display: inline;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 20px;
  font-variant: small-caps;
  font-weight: bold;
}

section {
  background-color: cyan;
  color: black;
  margin-top: 10px;
  padding: 5px;
  text-align: center;
  border: 2px solid black;
  }

.h1 {
    text-align: center;
    background-color: white;
    color: black;
    justify-content: center;
    display: flex;
    padding-left: 20px;
}

.h1-header {
  text-align: center;
  background-color: white;
  color: black;
  justify-content: center;
  display: flex;
  padding-left: 30px;
}

.p1 {
  padding-top: 25px;
}

h2 {
    text-align: center;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 0 0 39.5em;
    cursor: pointer;
    justify-content: center;
    display: flex;
    width: 5%;
    align-items: center;
  }

#game {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 97px;
}
#defaultCanvas0 {
    border: 3px solid black
}